@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

a {
    text-decoration: none;
    color: #fff;
}
p > a:hover{
    color: #6b59af;
    text-decoration:  underline;
}

._12 {
    font-size: 1em;
}
._14 {
    font-size: 1em;
}
ul {
    padding:0;
    list-style: none;
}
.speaker-img{
    margin-left: auto;
    display:block;
    margin: 0 auto;
}
.footer-social-icons {
    text-align: center;
    margin-left: auto;
    display:block;
    margin: 0 auto;
}

/* @media (min-width:320px)  { 
    .footer-social-icons {
        width: 50%;
        display:block;
        margin: 0 auto;
    }
 }
@media (min-width:480px)  { 
    .footer-social-icons {
        width: 50%;
        display:block;
        margin: 0 auto;
    }
 }
@media (min-width:600px)  { 
    .footer-social-icons {
        width: 60%;
        display:block;
        margin: 0 auto;
    }
 }
@media (min-width:801px)  { .footer-social-icons {
    width: 60%;
    display:block;
    margin: 0 auto;
} }
@media (min-width:1025px) { 
    .footer-social-icons {
        width: 60%;
        display:block;
        margin: 0 auto;
    }
 }
@media (min-width:1281px) { 
    .footer-social-icons {
        width: 60%;
        display:block;
        margin: 0 auto;
    }
 } */
.social-icon {
    color: #fff;
}
ul.social-icons {
    margin-top: px;
}
.social-icons li {
    vertical-align: top;
    display: inline;
    height: 50px;
}
.social-icons a {
    color: #fff;
    text-decoration: none;
}

.twitter {
    padding:10px 12px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #5b4f96;
}
.twitter:hover {
    background-color: #00aced;
}

.linkedin {
    padding:10px 14px;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition: .5s;
    background-color: #5b4f96;
}
.linkedin:hover {
    background-color: #0073a4;
}

.job{
    margin-top: -4%;
    margin-left: 0%; 
    color: rgb(100, 100, 100); 
    font-size: 16px;
}