
.container-cfp {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container-cfp {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-cfp {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-cfp {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container-cfp {
        max-width: 1140px;
    }
}

.row-cfp {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 576px) {
    .column {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (min-width: 768px) {
    .column {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 992px) {
    .column {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.section-title {
    width: 100%;
    text-align: center;
    padding: 45px 0 30px 0;
}

.section-title::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 5px;
    left: calc(50% - 25px);
    background: #353535;
}

.section-title h1 {
    color: #353535;
    font-size: 50px;
    letter-spacing: 5px;
    margin-bottom: 5px;
}

@media(max-width: 767.98px) {
    .section-title h1 {
        font-size: 40px;
        letter-spacing: 3px;
    }
}

@media(max-width: 567.98px) {
    .section-title h1 {
        font-size: 30px;
        letter-spacing: 2px;
    }
}




/**********************************/
/********* Team #9 Style **********/
/**********************************/
.team-9 {
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

/** .team-9:hover { 
    transform: rotateY(180deg);
} **/

.team-9 .team-img {
    position: relative;
    font-size: 0;
    text-align: center;
    margin-bottom: 30px;
}

.team-9 .team-img img {
    width: 100%;
    height: auto;
    border-radius: 100%;
}

.team-9 .team-content {
    text-align: center;
}

.team-9 .team-content h2 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.team-9 .team-content h3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

.team-9 .team-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: #ffffff;
    border-radius: 5px;
    transform: rotateY(180deg);
}

.team-9 .team-overlay p {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.team-9 .team-social {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;
}

.team-9 .team-social a {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    padding: 11px 0 10px 0;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    border-radius: 100%;
    transition: all .3s;
}

.team-9 .team-social a.social-tw {
    background: #00acee;
}

.team-9 .team-social a.social-fb {
    background: #3b5998;
}

.team-9 .team-social a.social-li {
    background: #0e76a8;
}

.team-9 .team-social a.social-in {
    background: #3f729b;
}

.team-9 .team-social a.social-yt {
    background: #c4302b;
}

.team-9 .team-social a:last-child {
    margin-right: 0;
}

.team-9 .team-social a:hover {
    background: #222222;
}




